.view-container {
  position: relative;
}

.view {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.view-status-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--white-bg);
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
}

.view-status-container p {
  color: #858bb2;
}

.view-invoice {
  background-color: var(--white-bg);
  padding: 1.5rem;
  margin-bottom: 3rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: #858bb2;
}

.view-invoice p {
  margin: 0.6rem 0;
}

.view-invoice span {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
}

.invoice-dates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invoice-date-bill {
  display: flex;
  gap: 3rem;
}

.item-container {
  background-color: #f9fafe;
  border-radius: 8px 8px 0 0;
}

.invoice-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  padding: 0.4rem 1.5rem;
}

.invoice-item > p {
  text-align: end;
}

.invoice-item span {
  font-weight: 700;
  font-size: 16px;
}

.invoice-item-grand-total {
  background-color: var(--primary-dark-purple);
  padding: 1.5rem;
  border-radius: 0 0 8px 8px;
  color: rgba(255, 255, 255, 0.799);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-item-grand-total span {
  font-size: 20px;
  color: var(--white-bg);
}

.invoice-id {
  font-weight: 700;
  font-size: 18px;
}
