.create {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  background-color: var(--create-bg);
  position: relative;
}

.bill-from h3 {
  color: var(--primary-purple);
  font-size: 14px;
}

.bill-from-grid {
  display: grid;
  grid-template-areas: "street street" "city zip" "country country";
  gap: 1.5rem;
  margin-top: 1rem;
}

.bill-from-grid input {
  height: 32px;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  padding: 1rem 0.75rem;
  width: 100%;

  background-color: var(--input-bg);
  color: var(--text-color-swap);
}

.bill-from-grid label {
  color: #7e88c3;
  font-size: 14px;
}

.from-street {
  grid-area: street;
  display: flex;
  flex-direction: column;
}

.from-city {
  grid-area: city;
  display: flex;
  flex-direction: column;
}

.from-post-code {
  grid-area: zip;
  display: flex;
  flex-direction: column;
}

.from-country {
  grid-area: country;
  display: flex;
  flex-direction: column;
}

.bill-to h3 {
  color: var(--primary-purple);
  font-size: 14px;
}

.bill-to-grid {
  display: grid;
  grid-template-areas:
    "name name" "email email"
    "street street" "city zip"
    "country country" "date date"
    "terms terms" "desc desc";
  gap: 1.5rem;
  margin-top: 1rem;
}

.bill-to-grid input {
  height: 32px;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  padding: 1rem 0.75rem;
  width: 100%;

  background-color: var(--input-bg);
  color: var(--text-color-swap);
}

.bill-to-grid label {
  color: #7e88c3;
  font-size: 14px;
}

.to-name {
  grid-area: name;
  display: flex;
  flex-direction: column;
}

.to-email {
  grid-area: email;
  display: flex;
  flex-direction: column;
}

.to-street {
  grid-area: street;
  display: flex;
  flex-direction: column;
}

.to-city {
  grid-area: city;
  display: flex;
  flex-direction: column;
}

.to-post-code {
  grid-area: zip;
  display: flex;
  flex-direction: column;
}

.to-country {
  grid-area: country;
  display: flex;
  flex-direction: column;
}

.to-date {
  grid-area: date;
  display: flex;
  flex-direction: column;
}

.to-date input {
  display: flex;
  padding: 1rem 0.75rem;
  color: var(--text-color-swap);
}

.to-terms {
  grid-area: terms;
  display: flex;
  flex-direction: column;
}

.to-terms > button {
  padding: 0.75rem;
  border: 1px solid var(--input-border);
  margin-top: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: start;

  background-color: var(--input-bg);
  color: var(--text-color-swap);
}

.to-terms > button:hover {
  color: #9277ff;
}

.to-terms-list {
  margin-top: 1rem;
  background-color: var(--white-bg);
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px var(--box-shadow);
  border-radius: 4px;
  /* display: none; */
}

.to-terms-list button {
  padding: 0.75rem;
  border-top: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--text-color-swap);
  cursor: pointer;
  text-align: start;
}

.to-terms-list button:first-child {
  border-top: none;
  border-radius: 4px 4px 0 0;
}

.to-terms-list button:last-child {
  border-radius: 0 0 4px 4px;
}

.to-terms-list button:hover {
  color: #9277ff;
}

.to-desc {
  grid-area: desc;
  display: flex;
  flex-direction: column;
}

.item-list-grid {
  display: grid;
  grid-template-areas:
    "name name name name name name"
    "qty price price total total delete";
  gap: 1rem;
  margin-top: 1rem;
}

.item-list-grid input {
  height: 32px;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid #dfe3fa;
  padding: 1rem 0.75rem;
  width: 100%;
}

.item-list-grid label {
  color: #7e88c3;
  font-size: 14px;
}

.item-list-header {
  color: #777f98;
  /* font-size: 14px; */
}

.item-name {
  grid-area: name;
  display: flex;
  flex-direction: column;
}

.item-qty {
  grid-area: qty;
  display: flex;
  flex-direction: column;
}

.item-price {
  grid-area: price;
  display: flex;
  flex-direction: column;
}

.item-total {
  grid-area: total;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-delete {
  grid-area: delete;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation-duration: 1s;
}

.item-list-array {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-list input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--input-text);
}

.add-item {
  padding: 1rem;
  border-radius: 24px;
  background-color: var(--add-new-bg);
  color: #7e88c3;
  font-weight: 700;
  margin: 2rem 0 9rem 0;
  cursor: pointer;
}

.add-item:hover {
  background-color: #dfe3fa;
}

.create-container {
  position: relative;
}

.create-bottom-bar {
  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.192);
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.create-discard-button {
  background-color: var(--discard-bg);
  color: var(--discard-color);
  padding: 1rem 1.5rem;
  border-radius: 24px;
  cursor: pointer;
}

.create-discard-button:hover {
  background-color: #2e3249;
}

.create-save-button {
  background-color: var(--primary-purple);
  color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 24px;
  cursor: pointer;
}

.create-save-button:hover {
  background-color: #9277ff;
}

.item-delete img {
  cursor: pointer;
}

.off {
  display: none;
}

@media only screen and (min-width: 668px) {
  .create-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 100%;
    width: 75%; */
  }

  .create {
    /* width: 75%; */
    /* overflow: scroll; */
    width: 700px;
  }

  .create-bottom-bar {
    border-radius: 30px 30px 0 0;
    padding: 1.5rem 0;
  }
}
